.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}
.title {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
.sections {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.sections li:hover {
  color: aqua;
}
